@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/********
* Reset * 
********/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 16px;
  outline: none;
}

html, body {
  background: white;
  color: #474747;
}

a{
  text-decoration: none;
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 280px;
  max-width: 1024px;
  margin: auto;
}


/*****************
* Menu principal *
*****************/


.nav-profile img {
border-radius: 50%;
width: 4rem;

}

.form-inline {
  display: inline-block;
}

.navbar {		
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  color: #474747;
  border: none;
  background: none;
}

/*Icon da Venus Shop*/
.navbar .navbar-brand {
  padding-left: 0;
  position: absolute;
  padding-right: 30px;
}
.navbar .navbar-brand img {
  margin-right: 20px;
  margin-left: 2rem;
  width: 120px;
  height: 30px;
}

/*Barra de pesquisa*/
#search-box{
  position: relative;
  margin: 0px 98px -22px 0px;
  color:#474747;
  width: 25rem;
}
#search-box input {
  border-radius: 15px 0px 0px 15px !important;
}
#search-box button {
  border-radius: 0px 15px 15px 0px !important;
}

/*Bolinha de notificação da sacola*/
.navbar .badge {
  background: #f43665;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0px;
  min-height: 18px;
  top: 25px;
  right: 0px;
}
/* Icons de notificações+usuário */
.navbar ul li i {
  font-size: 24px;
  color: #474747;
  margin: 25px 0px 0px 0px;
}

#iuserm{
  padding-right: 10px;
}

/*Botão QueroVender*/
#btnvender{
  padding-top: 30px;
  padding-right: 30px;
}

/*links do menu*/
#conteudoNavbarSuportado ul{
  margin: 20px 10px 2px 13rem;
  padding-right: 30px;
  border: none;
  background: none;
}

#linknav a{
  color: #474747
}

/********* 
* Rodapé *
*********/

/* Superior */
.footersup{
  padding-top: 20px;
}

.footersup img{
  margin: -30px 0px 0px 0px;
}

.footersup i{
  font-size: 22px;
  padding: 0px 10px 15px 0px;
  color: #474747;
}

.footersup p a{
  text-decoration: none;
  color: #474747;
  font-size: 13px;
}

#titlef {
  font-size: 14px;
  font-weight: bold;
}

#titlevenda{
  margin: 20px 0px 15px 0px;
  font-size: 20px;
  font-weight: bold;
  color:#bb1919;
}

/*Botão quero vender */
.footersup p input{
  position: relative;
  background-color: #213943;
  border-radius: 8px;
  border: 0px;
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  width: 47%;
  text-align: center;
  text-decoration: solid;
  overflow: hidden;
}
.footersup p input:hover{
  background-color: #335766;
  color: white;
  transition: 0.5s;
}

/* Inferior */
.footerinf{
  border-top: 1px solid #d6d6d6;
  padding-top: 15px;
}

#copy {
  font-size: 12px;
  letter-spacing: 1px;
}

/******************
* SOBRE NÓS - ABOUTUS 
******************/
.h2AbtUsIn{
  text-align: center;
}
.h2AbtUs {
  
    font-size: 30px;
    margin-top: 20px;
    font-weight: 100;
  }
.pAbtUs{
  font-size: 17px;
  
}
  .aboutUs {
  color: rgb(66, 65, 65);
  margin: 40px 40px 40px;
  padding: 20px 20px 0px;
  border: 2px solid #FF7A00;
  padding-top: 25px;
  border-radius: 5px;
  background-color: #ADC483;
  box-shadow: 0px 4px 10px rgba(90, 44, 2, 0.05);
  margin-bottom: 40px;
  }
  @media (max-width: 320px) {
    .aboutUs {
      width: 100%;
      margin: auto;
    }
  }
  .negrito {
      font-size: 18px;
  }
  
  .botaoUs {
      display: block;
      background-color: #213943;
      border-radius: 15px;
      border: 0px;
      font-size: 2rem;
      color: white;
      margin: 50px 30px 70px 30px;
      padding: 5px 5px 5px 5px;
      width: 250px;
      text-align: center;
      height: 40px;
      
    }
    @media (max-width: 320px) {
      .botaoUs {
        width: 20rem;
        height: 30px;
        font-size: 14px;
        margin: 20px 0px;
        margin-bottom: 70px;
        padding: 0.5rem;
        margin-top: 50px;
      }
    }
    .botaoUs:hover{
      background-color: #335766;
      color: white;
      text-decoration: none;
      transition: 0.5s;
  
  }
/******************
* SOBRE NÓS LOJA - ABOUTSHOP
******************/
.h2AbtShop {
  
  font-size: 30px;
  margin-top: 20px;
  font-weight: 100;
}
.pAbtShop{
  font-size: 17px;
}
.aboutShop {
  color: rgb(66, 65, 65);
  margin: 40px 40px 40px;
  padding: 20px 20px 0px;
  border: 2px solid #FF7A00;
  padding-top: 25px;
  border-radius: 5px;
  background-color: #ADC483;
  box-shadow: 0px 4px 10px rgba(90, 44, 2, 0.05);
  margin-bottom: 40px;
}
@media (max-width: 320px) {
  .aboutShop {
    width: 100%;
    margin: auto;
  }
}
.pAbtShop a {
  text-decoration: none;
}

.container-fluid {
    font-size: 26px;
    text-align:left;
   
}

.botaoloja {
  background-color: #213943;
  border-radius: 15px;
  border: 0px;
  text-align: center;
  font-size: 2rem;
  color: white;
  margin: 70px 40px 70px 40px;
  padding: 6px 5px 5px 5px;
  width: 27rem;
  height: 40px;
    
    }
    @media (max-width: 320px) {
      .botaoloja {
        width: 20rem;
    height: 40px;
    font-size: 14px;
        margin: 20px 0px;


      }
    }
  .botaoloja:hover{
    background-color: #335766;
      color: white;
      text-decoration: none;
      transition: 0.5s;
}
.btnloja {
  background-color: #213943;
  border-radius: 15px;
  border: 0px;
  text-align: center;
  font-size: 2.1rem;
  color: white;
  margin: 70px 40px 70px 40px;
  padding: 6px 5px 5px 5px;
  width: 27rem;
  height: 40px;

}
@media (max-width: 320px) {
  .btnloja {
    display: grid;
    align-items: center;
    font-size: 14px;
    width: 200px;
    margin: 0px 0px 20px 0px;
}
  }

.btnloja:hover{
  background-color: #335766;
      color: white;
      text-decoration: none;
      transition: 0.5s;

}
.btnShop {
  display: flex;
  justify-content:space-around;
  align-items: center;
}
@media (max-width: 320px) {
  .btnShop {
    display: grid;
    align-items: center;
    font-size: 18px;
    width: 200px;
    margin: 0px 0px 20px 0px;
}
  }



/******************
* Policies *
******************/
.borda-policies, .borda-termos {
  margin: 40px 40px 40px;
  padding: 20px 20px 0px;
  border: 2px solid #FF7A00;
  padding-top: 25px;
  border-radius: 3px;
  background-color: #ADC483;
  box-shadow: 0px 4px 10px rgba(90, 44, 2, 0.05);
  margin-bottom: 40px;
}
.policies, .termos {
  text-align:left;
  margin-left: 20px;
}
.policies-title, .termos-title{
  text-align: center;
  
}
.cookies li {
  list-style-type: none;
}
/*********
* FAQ *
*********/
.duvfreq{
  text-align: center;
}
  .h2DuvFreq {
  
    font-size: 30px;
    margin-top: 20px;
    font-weight: 100;
  }
  .pduvFreq{
    font-size: 17px;
  }
  .duvidasfreq {
    color: rgb(66, 65, 65);
    margin: 40px 40px 40px;
    padding: 20px 20px 0px;
    border: 2px solid #FF7A00;
    padding-top: 25px;
    border-radius: 5px;
    background-color: #ADC483;
    box-shadow: 0px 4px 10px rgba(90, 44, 2, 0.05);
    margin-bottom: 40px;
  }
  @media (max-width: 320px) {
    .duvidasfreq {
      width: 100%;
      margin: auto;
    }
  }
  .pduvFreq a {
    text-decoration: none;
  }
  
  .container-fluid {
      font-size: 26px;
      text-align:left;
     
  }

/*********
* FOOTER *
*********/

/* Botão quero vender */
@media screen and (max-width: 320px){
  .footersup p input{
    position: relative;
    background-color: #bb1919;
    border-radius: 8px;
    border: 0px;
    font-size: 1.1rem;
    color: white;
    padding: 10px;
    width: 50%;
    text-align: center;
    text-decoration: solid;
    overflow: hidden;
  }
  .footersup p input:hover{
    background-color: #a01616;
    color: white;
  }
}


/*********
* COOKIES *
*********/

#acCookies {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.cookieBody {
  background-color: rgba(0, 0, 0, .5);
  padding: 1rem;
}

.cookieBox {
  background-color: rgb(255, 224, 255);
  padding: .6rem;
  border-radius: .5rem;
  max-width: 988px;
  margin: auto;
}
.cookieImg {
  
  margin: auto;
  display: block;
}

.cookieBox button {
  display: block;
  margin: auto;
  margin-top: .5rem;
  background: linear-gradient(rgb(224, 15, 2), rgb(224, 43, 4));   
  color: white;
  border: none;
  box-shadow: 5px 5px 10px 0px rgba(138, 138, 138, 1);
  cursor: pointer;
  padding: .25rem .5rem;
  border-radius: .3rem;
}

.cookieBox button:hover {
  background: linear-gradient(rgb(250, 159, 117), rgb(245, 98, 75));   
   
}

@media (min-width: 575px) {
  .cookieBox {
    display: flex;
    align-items: center;
  }

  .cookieBox button {
    margin: 0;
    margin-left: 1rem;
  }
}
/*********
FORMULÁRIO DO CART
Alert para frmcart quando está vazio *
*********/
div.alertCart {
    padding: 15px;
    margin: 0px 500px 0px 500px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #E38BFF;
    box-shadow: 0px 4px 10px rgba(99, 2, 2, 0.05);
    width: 300px;
    height: 300px;
    text-align: justify;
}
.btnAlert {
  display: block;
  margin: 70px 70px;
  margin-top: 100px;
  background: linear-gradient(#441652, #9A45B4, #E193F8);   
  color: white;
  border: none;
  box-shadow: 5px 5px 10px 0px #441652;
  cursor: pointer;
  padding: .25rem .5rem;
  border-radius: 1.2rem;
  font-size: 15px;
}

.btnAlert:hover {
  background: linear-gradient(#E193F8, #9A45B4, #441652);
}

/*tira o text-decoration dos botoes do bootstrap, coloca essa classe depois do a href*/
.nounderline {
  text-decoration: none !important
}
#ialert{
  font-size: 25px;
}
/*********
Carrinho
*********/
.compratotal {
margin-left: 78rem;
margin-top: 15px;
}
@media (max-width: 320px) {
.compratotal {
  margin-left: 2rem;
  font-size: 1.2rem;
}
}
td img {
  max-width: 50px;
  max-height: 50px;
}
.cartname {
  text-align: left;
  margin-left: 60px;
}
.table {
  margin: 0px 25px; /*estrutura da tabela*/
}
.btn-cartExcluir {
  background-color: transparent;
  border: none;
  width: auto;
}
.btn-cartExcluir:hover {
  background-color: transparent;
}
.fa-square-minus{ /*menos*/
  color: rgb(235, 52, 52);
  font-size: 15px;

}
.btnexc {
  width: 45px;
}
.btnfinal { 
  display: block;
  margin: 10px 5px 0px 10px;  /*botão finalizar*/
  margin-bottom: 30px;
  background: linear-gradient(rgb(14, 143, 38), rgb(8, 170, 16));   
  color: white;
  border: none;
  cursor: pointer;
  padding: .10rem .2rem;
  border-radius: 10px;
  font-size: 24px;
  width: 100%;
  height: 40px;
}
.btnfinal:hover {
  background: linear-gradient(rgb(21, 235, 31), rgb(7, 167, 36));
  color: #474747;
}
@media (max-width: 475px) {
  .btnfinal {
    display: block;
    align-items: center;
    margin-top: 40px;
    margin-left: 1rem;
    font-size: 18px;
    width: 200px;
  }
}
  .btncontcompra {
    display: inline-block;
    margin: 30px 0px 0px 10px;
    background: linear-gradient(rgb(27, 120, 207), rgb(83, 174, 235));
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.1rem 0.2rem;
    border-radius: 10px;
    font-size: 20px;
    width: 270px;
    height: 45px;
}
.btncontcompra:hover{
  background: linear-gradient(rgb(83, 174, 235), rgb(27, 120, 207));
  color: white;
}
.fa-cart-shopping{
  color: rgb(248, 237, 225);
  font-size: 20px;
}
  @media (max-width: 475px) {
    .btncontcompra {
      display: block;
      align-items: center;
      margin-top: 20px;
      width: 200px;
      font-size: 15px;
      color: #fdfafa;
    }
  .fa-cart-shopping{
    color: rgb(248, 237, 225);
    font-size: 15px;
  }
  }
.btnesvaziar {   
  display: block;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  background: linear-gradient(rgb(189, 26, 26), rgb(221, 95, 91));
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  border-radius: 10px;
  font-size: 18px;
  width: 190px;
  height: 40px;
}
.btnesvaziar:hover {
  background: linear-gradient(rgb(221, 95, 91), rgb(189, 26, 26));
  color: #474747;
}
.fa-trash-can {
color: rgb(248, 237, 225);
font-size: 18px;
}
@media (max-width: 475px) {
    .btnesvaziar {
      display: block;
      align-items: center;
      margin-top: 20px;
      margin-left: 1rem;
      width: 200px;
      font-size: 18px;
    }
  .fa-trash-can{
    color: rgb(248, 237, 225);
    font-size: 15px;
  }
  }
  

/* Table Base -TESTAR PRA VER SE CONSIGO DEIXAR TABELA RESPONSIVA*/
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
}
.table {
  display: table;
  border-bottom: #030303 solid 0.5px;
  width: 100%;
  margin-bottom: 20px;
  margin: 0px 20px 0px 10px;
  border: black solid 0.5px;

}
.table th,
.table td {
  border-right: #999999 solid 1px;
  font-size: 12px;
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align:middle;
}
.table td:last-child {
   border-right: 0;
}
.table thead th {
  font-weight: normal;
  background-color: transparent;
  color: #0f0f0f;
  font-size: 15px;
  width: 150px;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}
/* Small Sizes */
@media (max-width: 319px) { 
/* Responsive Table */
.table-responsive {
  display: block;
  position: relative;
  width: 100%;
}
.table-responsive thead,
.table-responsive tbody,
.table-responsive th,
.table-responsive td,
.table-responsive tr {
  display: block;
}
.table-responsive td,
.table-responsive th {
  height: 35px;
}
.table-responsive thead {
  float: left;
}
.table-responsive tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.table-responsive tbody tr {
  display: inline-block;
}
.table td:last-child {
   border-right: #999999 solid 1px;
   height: 100px;
}

.table>thead:first-child>tr:first-child>th {
border-top: 0;
    width: auto;
    height: 110px;
    text-align: center;
}
td img {
  max-width: 50px;
  max-height: 50px;
}
.table tbody > tr:nth-child(odd) > td, .table tbody > tr:nth-child(odd) > th {
height: 100px;
}
.table tbody > tr:nth-child(odd) > td, .table tbody > tr:nth-child(odd) > th {
  height: 100px;
}
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    height: 100px;
}
}
