.alert {
  color: rgb(122, 120, 120);
  margin: 40px 40px 40px;
  padding: 20px 20px 0px;
  border: 2px solid #f7b78d;
  padding-top: 25px;
  border-radius: 3px;
  background-color: rgb(248, 197, 197);
  box-shadow: 0px 4px 10px rgba(90, 44, 2, 0.05);
  margin-bottom: 40px;
}

.venusvoce{
  text-align: center;

  }
  
  .botaoshop .botaoloja {
      background-color: #75d625;
      border-radius: 50px;
      border: 0px;
      font-size: 2rem;
      color: white;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 5px;
      width: 300px;
      text-align: center;
    }
    .botao:hover{
      background-color: #a01616;
      color: white;
      text-decoration: none;
  
  }
  
  .link-about-shop a{
    text-decoration: none;
  }
